<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
        {% block head %}{% endblock %}
    </head>

    <header>
        <h1>Simple URL Shortener</h1>
    </header>

    <body>
        {% block body %}{% endblock %}
    </body>

    <footer>
        <p>
            by <a href="https://github.com/wikankun">wikankun</a>
        </p>
    </footer>

</html>