{% extends 'base.html' %}

{% block head %}
<title>URL Shortener</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="form">
        <form action="/edit" method="POST">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="hidden" name="code" value="{{data}}"/>
            <label for="url_input"><p class="message">Shortened URL:</p></label>
            <input id="url_input" type="text" name="url" value="{{data}}">
            <input class="submit-btn" type="submit" value="Edit URL">
        </form>
        <a href="{{request.url_root}}" class="button">Home</a>
    </div>
</div>
{% endblock %}