{% extends 'base.html' %}

{% block head %}
<title>URL Shortener</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="form">
        <p class="message">Here's your shortened URL:</p>
        <input id="url_input" type="text" name="url" value="{{data}}">

        <a href="{{data}}" class="button">Open URL</a>
        <a href="{{data}}/detail" class="button">Details</a>
        <a href="{{data}}/edit" class="button">Edit URL</a>
        <a href="{{request.url_root}}" class="button">Home</a>
    </div>
</div>
{% endblock %}